modules = ["nodejs-24", "python-3.11"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["github:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
STATS_API_URL = "https://api.thestatsapi.com/api"
WEBSHARE_PROXY_URL = "http://thosxyue:sunvk9xa5oox@31.59.20.176:6754"
BETCLIC_PROXY_URL = "http://thosxyue:sunvk9xa5oox@204.93.187.213:8223/"
BETFAIR_PROXY_URL = "http://thosxyue:sunvk9xa5oox@198.105.121.120:6382/"

[nix]
channel = "stable-25_05"
packages = ["glibcLocales"]
